[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
jupyter = "*"

[packages]
numpy = "*"
matplotlib = "*"
scipy = "*"

[requires]
python_version = "2.7"
